parameters:
    level: 5

    paths:
        - app/
        - database/

    excludePaths:
        - app/Http/Controllers
        - app/Http/Resources

    ignoreErrors:

    polluteScopeWithLoopInitialAssignments: false
    polluteScopeWithAlwaysIterableForeach: false
    checkAlwaysTrueCheckTypeFunctionCall: false
    checkAlwaysTrueInstanceof: true
    checkAlwaysTrueStrictComparison: true
    checkExplicitMixedMissingReturn: false
    checkFunctionNameCase: true
    checkInternalClassCaseSensitivity: true
    reportMaybesInMethodSignatures: true
    reportMaybesInPropertyPhpDocTypes: false
    reportStaticMethodSignatures: true
    checkTooWideReturnTypesInProtectedAndPublicMethods: true
    checkUninitializedProperties: true
    checkDynamicProperties: false
    rememberPossiblyImpureFunctionValues: false
    checkImplicitMixed: false
    checkBenevolentUnionTypes: false
    reportAlwaysTrueInLastCondition: false
    reportWrongPhpDocTypeInVarTag: false
